<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Passport Player of {{ name }}</title>
    <link rel="stylesheet" href="file:///{{ css_path }}">
</head>

<body>
    <div class="card">
        <div class="photo-section">
            <img src="{{ photo_url }}" alt="Photo du joueur" class="player-photo">
        </div>
        <div class="info-section">
            <h1 class="player-name">{{ name }}</h1>
            <p><strong>Full name :</strong> {{ full_name }}</p>
            <p><strong>Position :</strong> {{ position }}</p>
            <p><strong>Dominant foot:</strong> {{ footed }}</p>
            <p><strong>Birth :</strong> {{ birth }}</p>
            <p><strong>National team :</strong> {{ national_team }}</p>
            <p><strong>Club :</strong> {{ club }}</p>
            <p><strong>Wages :</strong> {{ wages }}</p>
        </div>
    </div>
</body>

</html>